footer {
  min-height: 40vh;
  width: 100%;
  background: url(../img/footerbg.jpg)no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  color: #fff;
  position: relative;
}

.footer {
  min-height: 40vh;
  flex-direction: column;
  justify-content: space-around;
}

.f-main {
  height: 30vh;
  align-items: center;
  font-size: 14px;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: 0.35px;
}

.f-title {
  height: 10vh;
  align-items: center;
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.75px;
}

.f1, .f2, .f3 {
  height: 30vh;
  width: 33%;
  justify-content: center;
}

.f1 p, .f2 p, .f3 p {
  width: 70%;
}

.f2-1, .f2-2 {
  align-items: flex-start;
}

.f2 img {
  margin-right: 2.5vh;
}

.f2-2 {
  margin-top: 1.5vh;
}

.footer input {
  background-color: transparent;
  width: 30vh;
  border: 1px solid rgba(255,255,255,0.5);
  padding: 1vh;
  color: #fff;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: 0.7px;
}

.footer input::placeholder {
  color: rgba(255,255,255,0.5);
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: 0.7px;
}

.footer button {
  background: url(../img/touch.png) no-repeat center center;
  border: none;
  background-color: rgba(255,255,255,0.5);
  margin-left: 0.8vh;
  width: 70px;
  height: 45px;
}

.subs {
  justify-content: space-between;
  margin-top: 3vh;
  width: 70%;
}

.subs a {
  width: 35px;
  height: 35px;
  border: 1px solid #fff;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.subs a:hover {
  background-color: rgba(0, 224, 208, 0.7);
  border: 0.2vh solid #fff;
  -webkit-transform: scale(0.91);
  -ms-transform: scale(0.91);
  transform: scale(0.91);
}

.f-footer-1 {
  width: 50%;
  margin-bottom: 1vh;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.35px;
}

.f-footer-2 {
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.35px;
}

.f-footer-1 a {
  color: #fff;
}

.f-footer-1 a:hover {
  color: #00e0d0;
}

.f-footer {
  justify-content: space-between;
}
