.our-story {
  min-height: 50vh;
  justify-content: space-around;
  align-items: center;
  position: relative;
  color: #413d4b;
}

.our-story-text {
  width: 45%;
}

.our-story-text h3 {
  margin-bottom: 3%;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 1.1px;
}

.our-story-text p {
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  width: 538px;
  letter-spacing: 0.42px;
  opacity: 0.75;
}

.our-story button {
  margin-top: 3%;
}
